<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matiz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/m"
        android:label="@string/app_name"
        android:roundIcon="@drawable/m"
        android:supportsRtl="true"
        android:theme="@style/Theme.Matiz">
        <activity
            android:name=".Help_ex2"
            android:exported="false" />
        <activity
            android:name=".Fracao2"
            android:exported="false" />
        <activity
            android:name=".Help_ex1"
            android:exported="false" />
        <activity
            android:name=".Fracao"
            android:exported="false" />
        <activity android:name=".TelaPrincipal" />
        <activity android:name=".FormCadastro" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".FormLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>